In [79]:
import yfinance as yf
from datetime import datetime

import json
import pandas as pd    

# Load the JSON file
path1 = 'datasets/CNN 2020-07 to 2025-02-14.json'
df = pd.read_json(path1)

# Extract the "data" list from "fear_and_greed_historical"
data_list = df["fear_and_greed_historical"]["data"]

# Convert it into a DataFrame
data_df = pd.DataFrame(data_list)
data_df['date'] = pd.to_datetime(data_df['x'], unit='ms')
data_df['date'] = data_df['date'].dt.strftime('%Y-%m-%d')
data_df

df = data_df[['date', 'y', 'rating']]
df

            date          y   rating
0     2020-07-14  50.000000  neutral
1     2020-07-15  50.000000  neutral
2     2020-07-16  50.000000  neutral
3     2020-07-17  50.000000  neutral
4     2020-07-20  50.000000  neutral
...          ...        ...      ...
1155  2025-02-11  43.542857     fear
1156  2025-02-12  42.971429     fear
1157  2025-02-13  47.228571  neutral
1158  2025-02-14  47.228571  neutral
1159  2025-02-14  47.228571  neutral

[1160 rows x 3 columns]

In [80]:
# S&P 500 ETF TRUST (SPY)
spy = yf.Ticker("SPY")
df_spy = pd.DataFrame(spy.history(start="2020-07-14"))
print("SPY historical data")
df_spy['Change'] = df_spy['Close'] - df_spy['Open']
df_spy['Change %'] = df_spy['Change'] / df_spy['Open'] * 100
df_spy[['Open', 'Close', 'Change', 'Change %']]

SPY historical data

                                 Open       Close    Change  Change %
Date
2020-07-14 00:00:00-04:00  292.581700  297.830078  5.248378  1.793816
2020-07-15 00:00:00-04:00  301.089280  300.566315 -0.522965 -0.173691
2020-07-16 00:00:00-04:00  298.642545  299.576416  0.933871  0.312705
2020-07-17 00:00:00-04:00  300.594308  300.444885 -0.149423 -0.049709
2020-07-20 00:00:00-04:00  300.174116  302.873016  2.698901  0.899112
...                               ...         ...       ...       ...
2025-03-28 00:00:00-04:00  565.530029  555.659973 -9.870056 -1.745275
2025-03-31 00:00:00-04:00  549.830017  559.390015  9.559998  1.738719
2025-04-01 00:00:00-04:00  557.450012  560.969971  3.519958  0.631439
2025-04-02 00:00:00-04:00  555.049988  564.520020  9.470032  1.706158
2025-04-03 00:00:00-04:00  545.109985  543.200012 -1.909973 -0.350383

[1188 rows x 4 columns]

In [81]:
# Vanguard Total Bond Market Index Fund (BND)
bnd = yf.Ticker("BND")
df_bnd = pd.DataFrame(bnd.history(start="2020-07-14"))
print("BND historical data")
df_bnd['Change'] = df_bnd['Close'] - df_bnd['Open']
df_bnd['Change %'] = df_bnd['Change'] / df_bnd['Open'] * 100
df_bnd[['Open', 'Close', 'Change', 'Change %']]

BND historical data

                                Open      Close    Change  Change %
Date
2020-07-14 00:00:00-04:00  77.485067  77.502548  0.017481  0.022560
2020-07-15 00:00:00-04:00  77.528772  77.511292 -0.017481 -0.022548
2020-07-16 00:00:00-04:00  77.616135  77.563705 -0.052429 -0.067550
2020-07-17 00:00:00-04:00  77.694793  77.642357 -0.052436 -0.067490
2020-07-20 00:00:00-04:00  77.773453  77.721024 -0.052429 -0.067413
...                              ...        ...       ...       ...
2025-03-28 00:00:00-04:00  72.920948  73.080421  0.159473  0.218693
2025-03-31 00:00:00-04:00  73.259839  73.209999 -0.049840 -0.068031
2025-04-01 00:00:00-04:00  73.220001  73.440002  0.220001  0.300466
2025-04-02 00:00:00-04:00  73.610001  73.379997 -0.230003 -0.312462
2025-04-03 00:00:00-04:00  73.760002  73.830002  0.070000  0.094902

[1188 rows x 4 columns]

In [82]:
# SPDR Gold Shares (GLD)
gld = yf.Ticker("GLD")
df_gld = pd.DataFrame(gld.history(start="2020-07-14"))
print("GLD historical data")
df_gld['Change'] = df_gld['Close'] - df_gld['Open']
df_gld['Change %'] = df_gld['Change'] / df_gld['Open'] * 100
df_gld[['Open', 'Close', 'Change', 'Change %']]

GLD historical data

                                 Open       Close    Change  Change %
Date
2020-07-14 00:00:00-04:00  168.970001  170.190002  1.220001  0.722022
2020-07-15 00:00:00-04:00  169.619995  170.339996  0.720001  0.424479
2020-07-16 00:00:00-04:00  169.800003  168.729996 -1.070007 -0.630157
2020-07-17 00:00:00-04:00  169.940002  170.119995  0.179993  0.105915
2020-07-20 00:00:00-04:00  170.759995  170.940002  0.180008  0.105416
...                               ...         ...       ...       ...
2025-03-27 00:00:00-04:00  280.549988  281.970001  1.420013  0.506153
2025-03-28 00:00:00-04:00  283.820007  284.059998  0.239990  0.084557
2025-03-31 00:00:00-04:00  287.529999  288.140015  0.610016  0.212157
2025-04-01 00:00:00-04:00  288.540009  287.570007 -0.970001 -0.336176
2025-04-02 00:00:00-04:00  288.279999  288.160004 -0.119995 -0.041625

[1187 rows x 4 columns]

In [ ]:
# 21Shares Crypto Basket Index ETP (HODL.PA)
hodl = yf.Ticker("HODL.PA")
df_hodl = pd.DataFrame(hodl.history(start="2022-05-05"))
print("hodl historical data")
df_hodl['Change'] = df_hodl['Close'] - df_hodl['Open']
df_hodl['Change %'] = df_hodl['Change'] / df_hodl['Open'] * 100
df_hodl[['Open', 'Close', 'Change', 'Change %']]

hodl historical data

                              Open    Close    Change  Change %
Date
2022-05-05 00:00:00+02:00  15.0100  15.0100  0.000000  0.000000
2022-05-06 00:00:00+02:00  15.0100  15.0100  0.000000  0.000000
2022-05-09 00:00:00+02:00  10.1300   9.9000 -0.230000 -2.270489
2022-05-10 00:00:00+02:00   9.8700   9.8700  0.000000  0.000000
2022-05-11 00:00:00+02:00   9.8700   9.8700  0.000000  0.000000
...                            ...      ...       ...       ...
2025-03-27 00:00:00+01:00  14.7298  14.5089 -0.220901 -1.499685
2025-03-28 00:00:00+01:00  14.1492  13.7827 -0.366501 -2.590258
2025-03-31 00:00:00+02:00  13.4707  13.5509  0.080200  0.595368
2025-04-02 00:00:00+02:00  13.8173  13.9184  0.101100  0.731691
2025-04-03 00:00:00+02:00  13.2539  13.2056 -0.048300 -0.364419

[747 rows x 4 columns]